[id$=locationBody]{
    background-color: black;  
}
[id$=locationHead]{
    color: #299617
}
[id$=updateHead]{
    color:#299617
    
}
[id$=informationHead]{
    color: #299617
}
[id$=imageHead]{
    color: #299617
    
}
[id$=fileText]{
    color: #299617
    
}

[id$=imageUpload]{
    color: white;
    
}