.loginBody{
background-color: white;
text-align: center;
color: #299617;
text-align: center;
font-family: "Trebuchet MS";    
}

.login_form{
    color: black;
    text-align: center;
    font-family: "Trebuchet MS";
}

.head2Login{
    color: black;
    text-align: center;
    font-family: "Trebuchet MS";
}
.loginText{
    color: black;
    text-align: center;
    font-family: "Trebuchet MS";
    padding-top: 500px;
}
