<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <title>Admin Index</title>
   
    <h:head>
        <h:outputStylesheet library="css" name="indexstyles.css"/> 
        
    </h:head>
    
    <h:body class="bo_dy">
        
        <h1 class="head1">-- POLICING DATABASE V.0.3 Admin --</h1>
        <div class="indexOption">
           
                <h:outputText value="Welcome to the system #{bean.username}, please use with care. Options are below: " escape="true"/>
                <br></br><br></br>
        <h:outputLink value="/AuthLogIn/faces/adminPages/register.xhtml" class="register_admin">Register Admin</h:outputLink><br/>
        <h:outputLink value="/AuthLogIn/faces/adminPages/remove.xhtml" class="remove_user">Remove User</h:outputLink><br/>
        <h:outputLink value="/AuthLogIn/faces/RegisterUser.xhtml" class="register_user">Register User</h:outputLink>
        <br></br>
        <h:outputLink value="/AuthLogIn/faces/adminPages/LocationData.xhtml" class="reg_isterdata">Register Location Data</h:outputLink>  
        <br></br><br></br>
        <p2 class="para2">DISCLAIMER: Data and information held within this database is extremely sensitive. Any misuse of this data will result in prosecution!</p2>
         </div>
    </h:body>
</html>



