<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <title>Register</title>
     <h:outputStylesheet library="css" name="registerstyles.css"/> 
    <h:body class="registerBody">
        
        <h2 class="headerTwo">Register User:</h2>
        
       <h:form class="reg_form">
                    <h:outputText class="Username" value="Username : "/>
                    <h:inputText id="username" value="#{bean.username}" required="true" styleClass="input_text"/>
       
                    <h:outputText class="Password" value="Password : "/>
                    <h:inputSecret id="password" value="#{bean.password}" required="true" styleClass="input_text"/>
               
                    <h1 class="headerOne">You're Registering a Staff level, for regular use add from the home page</h1>
                      
                    <h:commandButton action="#{bean.databaseDataInsertAdmin}" value="Register" type="submit"/>
        </h:form>
    </h:body>
</html>


