<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <title>Removal</title>
    <body>
     <h:form class="login_form">
                    <h:outputText value="Username : "/>
                    <h:inputText id="username" value="#{bean.username}" required="true" styleClass="input_text"/>

                    <h:commandButton action="#{bean.databaseDataRemove}" value="Remove" type="submit"/>
                
        </h:form>
    </body>
</html>

