<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <h:outputStylesheet library="css" name="indexstyles.css"/> 

    </h:head>
    <h:body class="bo_dy">

        <h1 class="head1">-- POLICING DATABASE V.0.3 User--</h1>
        <div class="indexOption">

            <h:outputText value="Welcome to the system #{bean.username}, please use with care. Options are below: " escape="true"/>
            <br></br><br></br>

            <h:form>
                <b>#{LocationCheck.errorMsg}</b><br/>
                <h:outputText value="Input a Location: "/>
                <h:inputText id="Location" value="#{LocationCheck.local}" required="true" styleClass="input_text"/>
                <h2 style="text-align: center">Use our new Location checker, for Updates!</h2>
                <h:commandButton action="#{LocationCheck.LocationCheck()}" value="Search Location" type="submit"/>
                <br></br><br></br>
            </h:form>



            <p2 class="para2">DISCLAIMER: Data and information held within this database is extremely sensitive. Any misuse of this data will result in prosecution!</p2>
        </div>
    </h:body>
</html>


