<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <script>
        function checkFileSize(inputFile) {
            var max = 10 * 1024 * 1024; // 10MB

            if (inputFile.files &amp;&amp; inputFile.files[0].size > max) {
                alert("File size is too large, please try uploading a smaller file.");
                inputFile.value = null;
            }
        }
    </script>

    <h:head>
        <title>Location</title>
        <h:outputStylesheet library="css" name="locationStyles.css"/> 
    </h:head>
    <h:body id="locationBody">

        <h1 id="locationHead"> Location: #{LocationCheck.local}</h1>
        <h1 id="updateHead"> Updates: #{LocationCheck.updates}</h1>
        <h1 id="informationHead"> Information: #{LocationCheck.information}</h1>
        <h1 id="imageHead" style="text-align: center">Images for an ongoing situation? Upload them here for us! </h1> 

        <h:form enctype="multipart/form-data" prependId="false">
            <h:outputText id="fileText" value="File: "></h:outputText>
            <h:inputFile id="imageUpload" value="#{fileUpload.uploadedFile}" onchange="checkFileSize(this)"/>

            <h:commandButton value="Upload" type="submit" action="#{fileUpload.saveFile}"></h:commandButton>
        </h:form>
    </h:body>
</html>

